// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.5;
$info: #6f42c1;
/*$input-focus-border-color:#6f42c1;
$input-focus-box-shadow:#794ad1;
$input-focus-width:  6px;
*/